@page "/home"

<div class="content-container content-title-group">
    <h2 class="title">Walker's Demo site</h2>
    <div class="card">
        <p>
            Bonjour!
        </p>
        <p>
            This site is made using Blazor for the front end written in C#.
        </p>
        <p>
            The Products List uses API endpoints connected to an in memory list.
            All hosted using Azure Static Web Apps and Azure Functions.
        </p>
        <br/>
        <p>
            Checkout this other demo of a <a href="https://testtodoapp.azurewebsites.net/">"To Do" list</a> connected to an Azure SQL backend.
        </p>
    </div>
</div>

@code {

}
